#main {
    animation: showPage 0.5s ease;
}

.avatar-cicle {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.user-avatar .avatar {
    aspect-ratio: 1;
    object-fit: cover;
}

.is-invalid {
    animation: isInvalid .4s ease forwards;
}

.invalid-feedback {
    animation: invalidFeedbackShow .4s ease;
}

.is-valid {
    animation: isValid 1s ease forwards;
}

.alert {
    animation: showAlert 0.5s ease;
}

@media (min-width: 992px) {
    .border-lg-end {
        border: none !important;
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }

    .border-lg-start {
        border: none !important;
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}

@keyframes isInvalid {
    0%, 100% {
        transform: translateY(0px);

        box-shadow: 0px 0px 0px 0.25rem rgba(255, 53, 69, 0.25),
                inset 0px 0px 0px 0.1rem rgba(255, 53, 69, 0.1);
    }

    50% {
        box-shadow: 0px 0px 5px 0.5rem rgba(255, 53, 69, 0.25),
                inset 0px 0px 5px 0.1rem rgba(255, 53, 69, 0.1);
    }

    25% {
        transform: translateY(5px);
    }

    75% {
        transform: translateY(-5px);
    }
}

@keyframes invalidFeedbackShow {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes isValid {
    0%, 100% {
        box-shadow: 0px 0px 0px 0.25rem rgba(0, 255, 136, 0.25),
                inset 0px 0px 0px 0.1rem rgba(0, 255, 136, 0.1);
    }

    50% {
        box-shadow: 0px 0px 5px 0.5rem rgba(0, 255, 136, 0.25),
                inset 0px 0px 5px 0.1rem rgba(0, 255, 136, 0.1);
    }
}

@keyframes showPage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes showAlert {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}